<div class="comp-root" (window:resize)="onResize($event)" *ngIf="users.length > 0 && !isLoading">
  <div class='tile-header-container'>
    <mat-grid-tile-header>
      <mat-card translate="list-display.grid-title"></mat-card>
    </mat-grid-tile-header>
    <input type="text" class="filter-pipe" [placeholder]="'list-display.search' | translate" name="filterUsers"
      [(ngModel)]="filterUsers" />
  </div>

  <div class="grid-content-block">
    <mat-grid-list [cols]="breakpoints.columns" [rowHeight]="breakpoints.proportion +':'+1">
      <mat-grid-tile *ngFor="let user of users | usersFilterPipeDisplay: filterUsers">
        <mat-card>
          <mat-card-title class="tile-title" translate [translateParams]="{ name: user.name }">list-display.card-title
          </mat-card-title>
          <mat-card-content translate [translateParams]="{ id: user.id, birthdate: user.birthdate }">
            list-display.card-content</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<!-- 1200 para arriba 3 columnas y 7:1 / 885 para arriba 3 columnas y 4:1 / 677 para arriba 2 columnas y 4:1 / 593 1 7:1 / 419 1 5:1 /419> 1 4:1  -->
<div class="loading-content" *ngIf="users.length <= 0 && isLoading">
  <mat-spinner></mat-spinner>
  <h2 class="text-info mat-body-1" translate="list-display.spinning"></h2>
</div>
