@import "../../app.component.scss";
.root {
	@include flexCenter(row, space-between);
	height: 10vh;
	@include media(sm) {
		height: 8vh;
	}
}
.links {
	width: 50%;
	@include flexCenter(row, space-between);
	@media (max-width: 600px) {
		@include flexCenter(row, space-around);
	}
	color: #673ab7;
}
.languageContainer {
	background-color: #f5f5f5;
	@include flexCenter(column, center);
	@media (max-width: 600px) {
		@include flexCenter(row, space-around);
	}
}
.activeLink {
	background-color: #f5f5f5;
	color: rgb(47, 91, 211);
	border-radius: 0px;
	border-bottom: 1px solid rgb(47, 91, 211);
}
.nonActive {
	background-color: #f5f5f5;
	color: #673ab7;
}
