@import "../../app.component.scss";
.root {
	@include flexCenter(row, space-between);
	height: 10vh;
	@include media(sm) {
		height: 8vh;
	}
}
.links {
	width: 50%;
	@include flexCenter(row, space-around);
}
