<mat-card *ngIf="displayParams.editionMode === 'create'">
  <form class="comp-container" (submit)="handleNewUser(userForm)" #userForm="ngForm">
    <h3 class="mat-display-1">Create a new user</h3>
    <div class="input-container">
      <mat-form-field>
        <input type="text" matInput name="name" ngModel required placeholder="Enter your name" minlength="3"
          #name="ngModel">
        <mat-error *ngIf="name.invalid">Please introduce a name</mat-error>
      </mat-form-field>
      <mat-form-field id="birthdate">
        <input matInput id="birthdate" type="date" autocomplete placeholder="Enter your birthday" name="birthdate"
          ngModel required #birthdate="ngModel">
        <mat-error *ngIf="birthdate.invalid">Please introduce a birth date</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Save User</button>
  </form>
</mat-card>

<mat-card *ngIf="displayParams.editionMode === 'edit'">
  <form class="comp-container" (submit)="handleEditUser(editUserForm)" #editUserForm="ngForm">
    <h3 class="mat-display-1">Editing {{user.name}}</h3>
    <div class="input-container">
      <mat-form-field id="name">
        <input type="text" matInput name="name" [ngModel]="user.name" required value={{user.name}} minlength="3"
          #name="ngModel">
        <mat-error *ngIf="name.invalid">Please introduce a name</mat-error>
      </mat-form-field>
      <mat-form-field id="birthdate">
        <input matInput id="birthdate" type="date" autocomplete [value]="user.birthdate" name="birthdate"
          [ngModel]="user.birthdate" required #birthdate="ngModel">
        <mat-error *ngIf="birthdate.invalid">Please introduce a birth date</mat-error>
      </mat-form-field>
    </div>
    <div class="btn-container">
      <button mat-raised-button color="primary" type="submit">Edit User</button>
      <button mat-raised-button color="warn" (click)="onCancel(editUserForm)">Cancel</button>
    </div>
  </form>
</mat-card>
